<!DOCTYPE html>
<html lang="en">
  {{> head }}

  <body>
    {{> navigation }}

    <div class="page-container">
      <div class="main-body">
        {{{body}}}
      </div>
    </div>
  </body>
</html>


