<div class="home-wrapper">
  {{#if loggedIn}}
    <h2 class="home-greeting">Hello, {{username}}!</h2>
  {{else}}
    <h2 class="home-greeting">Welcome to Powder Junkie!</h2>
  {{/if}}

  <h1 class="home-title">Welcome to the Home Page</h1>
  <p class="home-subtext">&copy; 2025 Mountain-Explorer</p>
</div>
