<div style="text-align: center; color: white; margin-top: 150px;">
  {{#if loggedIn}}
    <h2>Hello, {{username}}!</h2>
  {{else}}
    {{#if loggedOut}}
      <h2>You’ve been logged out.</h2>
    {{/if}}
  {{/if}}
  
  <h1>Welcome to the Home Page</h1>
  <p>&copy; 2025 Mountain-Explorer</p>
</div>
